<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alcometer</ion-title>
    </ion-toolbar>
  </ion-header>
    <ionic-list>
      <ion-item>
        <ion-label>Weight</ion-label><ion-input type="number" required [(ngModel)]="weight"></ion-input>
      </ion-item>
      <!--<ion-item>
        <ion-label>Gender</ion-label><ion-input type="number" required [(ngModel)]="gender"></ion-input>
      </ion-item>-->
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="gender" placeholder="Select gender">
          <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Time</ion-label>
        <ion-select [(ngModel)]="time" placeholder="Select time">
          <ion-select-option *ngFor="let value of times">{{value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Bottles</ion-label>
        <ion-select [(ngModel)]="bottle" placeholder="Select amount of beer bottles">
          <ion-select-option *ngFor="let value of bottles">{{value}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Promilles</ion-label><ion-input type="number" [(ngModel)]="promilles" readonly></ion-input>
      </ion-item>
      <ionic-item>
        <ion-button (click)="calculate()">Calculate</ion-button>
      </ionic-item>
    </ionic-list>
  <div id="container">
    
  </div>
</ion-content>
